body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #636363;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 124.41%;
    color: #000;
}

/* HEADER */

.main-bg {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: top center;

}

.header {
    padding: 32px 0;
    font-size: 14px;
    line-height: 17px;
}

.header__inner,
.header__city-list,
.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__city-list {
    text-transform: uppercase;
    font-weight: 400;
    gap: 25px;
    background: linear-gradient(-90deg, #2F80ED -50%, rgba(255, 255, 255, 0) 136.68%), #FFFFFF;
    border-radius: 5px;
    padding: 5px 10px;
}

.header__city-link,
.header__menu-link {
    text-decoration: none;
    color: #fff;
}

.main {
    font-weight: 700;
    color: #2F80ED;
    /* text-shadow: -1px 0 1px #fff, 1px 0 1px #fff, 0 1px 1px #fff,0 -1px 1px #fff; */
}

.header__menu-list {
    gap: 40px;
}

.header__menu-link {
    font-weight: 400;
    transition: text-shadow .7s;
}

.header__menu-link:hover {
    text-shadow: -0.5px 0 1px #fff, 0.5px 0 1px #fff;
}

.btn-white {
    padding: 12px 25px;
    text-decoration: none;
    color: #2F80ED;
    background-color: #fff;
    border-radius: 21px;
}

/* PROMO */

.promo {
    margin-top: 56px;
    margin-bottom: 124px;
    padding-bottom: 227px;
    color: #fff;
}
.promo>.container {
    position: relative;
}
.promo__subtitle {
    margin-left: calc(50% + 15px);
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.promo__title {
    margin-left: calc(50% + 15px);
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    margin-bottom: 21px;
}
.promo__info {
    margin-left: calc(50% + 15px);
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 29px;
}
.promo__btn {
    margin-left: calc(50% + 15px);
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    color: #fff;
    padding: 19px 40px;
    background: #64E2CD;
    border: 16px solid rgba(100, 226, 205, 0.5);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-radius: 50px;
    transition: border .7s, padding .7s;
}
.promo__btn:hover {
    padding: 32px 53px;
    border: 3px solid rgba(100, 226, 205, 0.5);
}

.promo__rewiews {
    position: absolute;
    left: 50px;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    width: 231px;
    height: 231px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2F80ED;
    cursor: pointer;
}
.promo__rewiews-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 153.12%;
}
.promo__rewiews-rating {
    font-weight: 700;
    font-size: 34px;
    line-height: 153.12%;
    margin-bottom: 2px;
}
.promo__rewiews-author {
    font-weight: 400;
    font-size: 14px;
    line-height: 143.55%;
}
.promo__rewiews-author-company {
    font-weight: 700;
    font-size: 14px;
    line-height: 143.55%;
}
.promo__rewiews-link {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    text-decoration: none;
    color: #2F80ED;
}

/* SPECIALISTS */

.specialists {
    padding-top: 92px;
    padding-bottom: 170px;
    margin-bottom: 130px;
    position: relative;
    background: url(../img/special-bg.svg) top right no-repeat;
}

.specialists::after{
    position: absolute;
    z-index: 0;
    content: "";
    right: 30px;
    top: -24px;
    width: 231px;
    height: 231px;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #FFFFFF 0%, #CADEF9 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    filter: blur(20px);
    border-radius: 50%;
}

.specialists__inner {
    position: relative;
    z-index: 1;
}

.specialists__title {
    margin-bottom: 97px;
}

.specialists__list {
    display: flex;
    gap: 75px;
}
.specialists__item {
    max-width: 225px;
}
.specialists__item-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 143.55%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #2F80ED;
    margin-bottom: 10px;
}
.specialists__item-text {
    font-size: 14px;
    line-height: 143.55%;
}
