body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #636363;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 124.41%;
    color: #000;
}

/* HEADER */

.main-bg {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: top center;

}

.header {
    padding: 32px 0;
    font-size: 14px;
    line-height: 17px;
}

.header__inner,
.header__city-list,
.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__city-list {
    text-transform: uppercase;
    font-weight: 400;
    gap: 25px;
    background: linear-gradient(-90deg, #2F80ED -50%, rgba(255, 255, 255, 0) 136.68%), #FFFFFF;
    border-radius: 5px;
    padding: 5px 10px;
}

.header__city-link,
.header__menu-link {
    text-decoration: none;
    color: #fff;
}

.main {
    font-weight: 700;
    color: #2F80ED;
    /* text-shadow: -1px 0 1px #fff, 1px 0 1px #fff, 0 1px 1px #fff,0 -1px 1px #fff; */
}

.header__menu-list {
    gap: 40px;
}

.header__menu-link {
    font-weight: 400;
    transition: text-shadow .7s;
}

.header__menu-link:hover {
    text-shadow: -0.5px 0 1px #fff, 0.5px 0 1px #fff;
}

.btn-white {
    padding: 12px 25px;
    text-decoration: none;
    color: #2F80ED;
    background-color: #fff;
    border-radius: 21px;
}

/* PROMO */

.promo {
    margin-top: 56px;
    margin-bottom: 124px;
    padding-bottom: 227px;
    color: #fff;
}
.promo>.container {
    position: relative;
}
.promo__subtitle {
    margin-left: calc(50% + 15px);
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.promo__title {
    margin-left: calc(50% + 15px);
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    margin-bottom: 21px;
}
.promo__info {
    margin-left: calc(50% + 15px);
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 29px;
}
.promo__btn {
    margin-left: calc(50% + 15px);
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    color: #fff;
    padding: 19px 40px;
    background: #64E2CD;
    border: 16px solid rgba(100, 226, 205, 0.5);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-radius: 50px;
    transition: border .7s, padding .7s;
}
.promo__btn:hover {
    padding: 32px 53px;
    border: 3px solid rgba(100, 226, 205, 0.5);
}

.promo__rewiews {
    position: absolute;
    left: 50px;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    width: 231px;
    height: 231px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2F80ED;
    cursor: pointer;
}
.promo__rewiews-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 153.12%;
}
.promo__rewiews-rating {
    font-weight: 700;
    font-size: 34px;
    line-height: 153.12%;
    margin-bottom: 2px;
}
.promo__rewiews-author {
    font-weight: 400;
    font-size: 14px;
    line-height: 143.55%;
}
.promo__rewiews-author-company {
    font-weight: 700;
    font-size: 14px;
    line-height: 143.55%;
}
.promo__rewiews-link {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    text-decoration: none;
    color: #2F80ED;
}

/* SPECIALISTS */

.specialists {
    padding-top: 92px;
    padding-bottom: 170px;
    margin-bottom: 130px;
    position: relative;
    background: url(../img/special-bg.svg) top right no-repeat;
}

.specialists::after{
    position: absolute;
    z-index: 0;
    content: "";
    right: 30px;
    top: -24px;
    width: 231px;
    height: 231px;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #FFFFFF 0%, #CADEF9 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    filter: blur(20px);
    border-radius: 50%;
}

.specialists__inner {
    position: relative;
    z-index: 1;
}

.specialists__title {
    margin-bottom: 97px;
}

.specialists__list {
    display: flex;
    gap: 75px;
}
.specialists__item {
    max-width: 225px;
}
.specialists__item-title,
.programm__item-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 143.55%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #2F80ED;
    margin-bottom: 10px;
}
.specialists__item-text,
.programm__item-text {
    font-size: 14px;
    line-height: 143.55%;
}

/* PROGRAMM */

.programm {
    background: url(../img/programm-bg.png) top right no-repeat;
    padding-bottom: 126px;
    position: relative;
}

.programm__title {
    margin-bottom: 45px;
}

.programm__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 530px;
    margin-bottom: 107px;
}

.programm__item {
    width: 228px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    border: 1px solid #2F80ED;
}

.programm__link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 143.55%;
    text-transform: uppercase;
    color: #2F80ED;
    text-decoration: none;
    position: relative;
    /* border-bottom: 1px #2F80ED dashed; */
}

.programm__link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #2F80ED 50%, transparent 50%);
    background-size: 10px;
}

/* RESULTS */

.results {
    min-height: 913px;
    background: url(../img/result-bg.svg) left center no-repeat;
    background-size: cover;
    padding-top: 159px;
    padding-bottom: 81px;
    margin-bottom: 110px;
}

.results__title {
    color: #fff;
    margin-bottom: 42px;
}

.results__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 33px 40px;
}

.results__item {
    width: 565px;
    min-height: 279px;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
    padding-top: 58px;
    padding-right: 60px;
    padding-left: 150px;
    padding: 58px 60px 50px 150px;
}

.results__item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 143.55%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2F80ED;
    position: relative;
    margin-bottom: 6px;
}

.results__item-title::before {
    position: absolute;
    left: -100px;
}

.results__item:nth-of-type(1) .results__item-title::before {
    content: url(../img/result1.svg);
}

.results__item:nth-of-type(2) .results__item-title::before {
    content: url(../img/result2.svg);
}

.results__item:nth-of-type(3) .results__item-title::before {
    content: url(../img/result3.svg);
}

.results__item:nth-of-type(4) .results__item-title::before {
    content: url(../img/result4.svg);
}

/* FEATURES */

.features {
    position: relative;
    margin-bottom: 152px;
}

.features::after {
    position: absolute;
    z-index: 0;
    content: "";
    top: 492px;
    right: 69px;
    width: 197px;
    height: 197px;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #FFFFFF 0%, #CADEF9 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    filter: blur(20px);
    border-radius: 50%;
}

.features__title {
    margin-bottom: 77px;
}

.features__video-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 92px;
    margin-bottom: 81px;
}

.features__video-container {
    max-width: 727px;
    position: relative;
    cursor: pointer;
    z-index: 0;
}

.features__video-player {
    border-radius: 10px;
}

.features__video-container::before {
    position: absolute;
    content: url(../img/player.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: transform .7s;
}

.features__video-container:hover::before {
    transform: translate(-50%, -50%) scale(1.2);
}

.features__video-info {
    background: #FFFFFF;
    box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
    padding: 70px 67px;
}

.features__video-info-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #2F80ED;
}

.features__video-info-text {
    font-size: 16px;
    line-height: 29px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.features__item {
    width: 247px;
}
.features__item-img {
    height: 61px;
    margin-bottom: 33px;
}
.features__item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 143.55%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2F80ED;
}